.navigation {
	position: relative;
	left: -240px;
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: $blackTrans;
	text-align: center;
	//border: 4px solid $grey;
	min-height: 100%;
	transition-property: left;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.3, 0, 0.7, 1);

	.nav-button {
		position: relative;
		left: 100%;
		top: 450px;
		width: 50px;
		height: 50px;
		font-size: 2.5rem;
		opacity: 60%;
		//background-color: $blackTrans;
	}

	.nav-title {
		font-size: 250%;
		color: $primary;
		margin: 10px 10px 0 10px;
	}

	.nav-list {
		margin: auto 0px auto 0px;
	}
	
	.nav-link {
		font-size: 150%;
		padding: 15px 15px 15px 15px;
		&:hover{
			background-color: $primaryTrans;
		}
	}
	
	.activated {
		color: $secondary;
	}
	
	.desactivated {
		color: black;
	}

	&:hover {
		//animation: 0.5s cubic-bezier(0.3, 0, 0.7, 1) widthGrowFromLeft;
		left: 0px;

		.nav-title {
			left: 0px;
		}

		.nav-link {
			left: 0px;
		}
	}

}

