@keyframes scaleGrow {
	from { transform: scale(1); }
	to   { transform: scale(1.5); }
}

@keyframes widthGrowFromLeft {
	0% { width: 0%;}
	100% { width: 100%; }
}

@keyframes appearOpacity {
	from { opacity: 0%;}
	to   { opacity: 100%;}
}

@keyframes slideFromRight {
	0% { padding-left: 3000px; }
	60% { padding-left: 0px; }
	80% { padding-left: 15px; }
	100% { padding-left: 0px; }
}